lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
# Build
public/css/main.css

# Coverage reports
coverage
.nyc_output/
# API keys and secrets
.env
data/bpm.txt
public/assets/images/qr/
public/assets/pdf/
# Dependency directory
node_modules
bower_components
test/result/
# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock
package-lock.json
